# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/smaknisc/public_html/simak_new"
PassengerBaseURI "/"
PassengerNodejs "/home/smaknisc/nodevenv/public_html/simak_new/24/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

RewriteEngine On

# 1. Alihkan traffic utama ke folder dist
RewriteCond %{REQUEST_URI} !^/dist/
RewriteRule ^(.*)$ dist/$1 [L]

# 2. Aturan SPA Fallback (wajib jika menggunakan React/Vue/Vite Router)
RewriteCond %{DOCUMENT_ROOT}/dist/$1 !-f
RewriteCond %{DOCUMENT_ROOT}/dist/$1 !-d
RewriteRule ^(.*)$ dist/index.html [L]
